.container {
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "banner banner banner"
    "content content sidebar";
    max-width: 1000px;
    gap: 20px;
}

.container > header {
    grid-area: header;
    display: flex;
    align-items: center;
}

.container > nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.container > .banner {
    grid-area: banner;
    padding: 10px;
}

.container > .main-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 2rem;
    align-items: start;
}

.container > .sidebar {
    grid-area: sidebar;
    padding: 10px;
    align-self: start;
}

.review-section {
    display: flex;
    flex-direction: column;
}

.series-info {
    grid-column: 1 / 2;
}

.reviews {
    grid-column: 1 / 2;
    margin-top: 2rem;
}

.series-details {
    grid-column: 2 / 3;
    border: 2px solid var(--black);
    padding: 1rem;
    background-color: var(--lime);
    height: fit-content;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}