@font-face {
    font-family: 'CustomFont';
    src: url(fonts/Delius/Delius-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'CustomFontBold';
    src: url(fonts/Delius/Delius-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'titles';
    src: url(fonts/simpsonfont/Simpsonfont\ DEMO.otf);
    font-weight: normal;
}


body {
  background: url('kuvat/simpsons_background.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 64px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'titles';
  color: #FCCB00;
}
p {
  font-family: 'CustomFont';
  color:black
}
h1 {
    font-size:60px;
}
h2 {
    font-size:48px;
}
h3 {
    font-size:32px;
}
h4 {
    font-size:18px;
}
section {
    border: 2px solid #1769B6;
    background-color: #E0F7FA;
}
a:link {
    font-family: 'CustomFont';
    color: #E44423;
}
a:hover {
    color: #edb9b4;
}
a:visited {
    color: #605b5a;
}
button {
    background-color: #E44423;
    color: white;
}
button:hover {
    background-color: #7a3b2c;
}
li {
    font-family: 'CustomFont';
}
@media (max-width: 640px) {
    body {
        margin-left: 16px; 
        margin-right: 16px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

    .nav nav a {
        display: block; 
        margin-bottom: 8px;
    }
}